$primay: #151d26;
$secondary: #aab7b8;
$brand: #f90;

$xs: 10px;
$sm: 14px;
$md: 20px;
$lg: 32px;
$xl: 48px;


h1{
    font-size: $xl;
}
h2{
    font-size: $lg;
}
h3{
    font-size: $md;
}
h4{
    font-size: $sm;
}

$full-width: 100%;
$thrid-width: 75%;
$half-width: 50%;
$fourth-width: 25%;

$container: 1200px;

.primary-btn{
    background: $brand;
    color: white;
    padding: $sm $xl;
    border-radius: 100px;
    border: 0px none;
    font-size: $sm;
    font-weight: 700;
    margin-top: $sm;
    cursor: pointer;
}
.secondary-btn{
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    color: $primay;
    padding: $sm $xl;
    border-radius: 4px;
    border: 1px solid $secondary;
    font-size: $sm;
    font-weight: 500;
    margin-top: $sm;
    cursor: pointer;
}