@import './style/variable';

.home{
    .hero-container{
        z-index: -1;
        background: rgb(8,0,135);
        background: linear-gradient(90deg, rgba(8,0,135,1) 0%, rgba(9,105,248,1) 58%, rgba(0,212,255,1) 100%);
        min-height: 400px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0 , 1), rgba(0, 0, 0, 0));
        margin-bottom: -150px;
    }
    .product-row{
        display: flex;
    }
}
