@import './style/variable';
.product{
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    padding: $lg;
    margin: $sm;
    width: $full-width;
    align-items: center;

    .product-info{
        text-align: center;
        h4{
            margin-bottom: $sm;
        }
        .product-price{
            padding: $sm 0;
            .price{
                font-size: $md;
            }
        }
    }
    img{
        width: 100%;
        height: 100%;
        max-width: 200px;
        object-fit: contain;
        margin-bottom: $md;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .product-rating{
        color: $brand;
        margin-top: $xs;
    }
}